<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drllepyzu/image/upload/v1609028908/cocktails_see4vx.jpg);">
    <h1>Fancy cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <% @cocktails.each do |cocktail|%>
    <div class="card-category"
      style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to cocktail.name.capitalize, cocktail_path(cocktail), class: "text-white text-decoration-none" %>
    </div>
  <% end %>
</div>
