  <% @cocktails.each do |cocktail|%>
    <div class="card-category"
      style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      <%= link_to cocktail.name.capitalize, cocktail_path(cocktail), class: "text-white text-decoration-none" %>
    </div>
    </div>

  <% end %>
